.popup__title {
  font-family: 'Roboto', Helvetica, Arial, sans-serif;
  font-weight: 900;
  font-size: 24px;
  line-height: 28px;
  color: rgba(26, 27, 34, 1);
  margin: 0;
  margin-top: 34px;
  margin-left: 36px;
  padding: 0;
}

.popup__form {
  all: unset;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0;
  margin: 0;
  margin-left: 36px;
  max-width: 358px;
  width: 100%;
  background-color: transparent;  
}

.form__title {
  all: unset;
  font-family: 'Inter', Helvetica, Arial, sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  margin: 0;
  padding: 0;
  margin-top: 22px;
  margin-bottom: 9px;
  color: #2F71E5;
}

.form__title:last-of-type {
  margin-top: 31px;
}

.form__input {
  all: unset;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.2;
  color: rgba(0, 0, 0, 1);
  border-bottom: rgba(0, 0, 0, 20%) 1px solid;
  padding-bottom: 10px;
  background-color: transparent;
}

.form__input:focus {
  border-bottom: 1px solid rgba(0, 0, 0, 1)
}

.form__link {
  all: unset;
  font-family: 'Inter', Helvetica, Arial, sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: rgba(47, 113, 229, 1);
  cursor: pointer;
}

.form__input_type_error {
  background-color: unset;
  border-bottom: 1px solid rgba(255, 0, 0, 1);
}

.form__error {
  all: unset;
  visibility: hidden;
  display: none;
  color: red;
  font-size: 12px;
  font-weight: 400;
  line-height: 1.2;
  padding-top: 5px;
  margin: 0;
}

.form__error_type_visible {
  visibility: visible;
  display: block;
}

.button_type_submit {
  all: unset;
  font-family: 'Roboto', Helvetica, Arial, sans-serif;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  padding: 20px 115px;
  text-align: center;
  color: rgba(255, 255, 255, 1);
  background-color: rgba(47, 113, 229, 1);
  border-radius: 100px;
  margin-bottom: 16px;
  margin-top: 39px;
  cursor: pointer;
}

.button_type_submit:hover {
  cursor: pointer;
}

.button_type_submit-disabled {
  color: rgba(182, 188, 191, 1);
  background-color: rgba(230, 232, 235, 1);
  border-radius: 100px;
  cursor: pointer;
}

.link__text {
  font-family: 'Inter', Helvetica, Arial, sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  margin: 0;
  padding: 0;
  margin-bottom: 28px;
  color: #000000;
  align-self: center;
}

.link__swtich-popup {
  color: #2F71E5;
  cursor: pointer;
  transition: all 0.3s ease;
}

.link__swtich-popup:hover {
  opacity: 0.5;
}

@media screen and (max-width: 530px) {

  .popup__title {
    width: 320px;
    margin: 16px auto 0;
    align-self: baseline;
  }

  .popup__form {
    max-width: 320px;
    margin: 0px auto 0px ;
  }

  .button_type_submit {
    padding: 20px 79px;
  }
}

@media screen and (max-width: 400px) {

  .popup__title {
    max-width: 288px;
    margin: 16px auto 0;
    align-self: baseline;
  }

  .popup__form {
    max-width: 288px;
    margin: 0px auto 0px ;
  }

.form__input {
  padding-bottom: 10px;
  padding-right: 0;
  align-items: center;
  }
}
