.nav__section {
  position: relative;
  margin: 0;
  padding: 0;
  all:unset;
}

.nav__menu {
  /* all:unset; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100px;
  /* min-width: 267px; */
  width: 415px;
  list-style: none;
  /* margin: 30px 0 0; */
  padding: 0;
  margin: 0;
  margin-top: 30px;
}

.nav__item {
  all: unset;
}

.nav__link, .nav__bottom-border {
  font-family: 'Roboto';
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  all: unset;
  text-decoration: none;
  color: #FFFFFF;
  cursor: pointer;
  align-items: center;
}

.nav__wrapper {
  all: unset;
  display: flex;
  justify-content: space-between;
  /* align-items: center; */
  box-sizing: border-box;
  border: 1px solid rgba(255, 255, 255, 1);
  border-radius: 100px;
  /* width: 100%; */
  width: 112px;
  margin: 0;
  padding: 0;
  cursor: pointer;
  background-color: transparent;
}

.nav__link-username {
  margin: 12px auto;
  width: 39px;
}

.nav__link-logout {
  all: unset;
  background-repeat: no-repeat;
  background-position: center;
  width: 24px;
  margin: 12px auto;
}

.nav__link-logout-light {
  background-image: url('../../images/logoutLight.svg');
}

.nav__link-logout-dark {
  background-image: url('../../images/logoutDark.svg');
}


.header__hamburger {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  margin: 0;
  padding: 0;
  margin-top: 30px;
}


.header__menu-open {
  margin-top: 150px;
}

.header__hamburger-menu_visible {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
}

.header__hamburger-menu-container {
  display: flex;
  flex-direction: column;
  list-style: none;
  margin: 0;
  padding: 40px;
}

.header__hamburger-menu-item {
  margin: 0;
  padding: 0;
  text-align: center;
}

.header__hambuger-menu {
  all:unset;
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  padding: 0;
  margin: 0;

  width: 100vw;
  background-color: transparent;
  border-bottom: 1px solid;
  border-color: rgba(84, 84, 84, 0.7);
}

.header__hamburger-close {
  background-image: url(../../images/closeMobileIcon.svg); 
}

.header__hamburger-icon {
  box-sizing: border-box;
  width: 25px;
  height: 25px;
  margin: 0;
  margin-right: 30px;
  padding: 0;
  background-color: transparent;
  background-image: url(../../images/menu.svg);
  background-position: center;
  background-size: cover;
  border: none;
  transition: all 0.3s ease;
}

.header__hamburger-icon:hover {
  opacity: 0.6;
  cursor: pointer;
}

.header__hamburger-link {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.2;
  margin: 0;
  padding: 0;
  text-decoration: none;
  color: rgba(255, 255, 255, 1);
  transition: all 0.3s ease;
  background-color: transparent;
}

.header__hamburger-link:hover {
  cursor: pointer;
  opacity: 0.6;
}


.nav__bottom-border:hover {
  border-bottom: rgba(255, 255, 255, 1) 1px solid;
  padding-bottom: 23px;
  border-bottom-width: 100%;
  margin: 0;
}
/* .header__link {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.2;
  margin: 0;
  padding: 0;
  color: rgba(255, 255, 255, 1);
  text-decoration: none;
  transition: all 0.3s ease;
  background-color: black;
}

.header__link:hover {
  cursor: pointer;
  opacity: 0.6;
}

@media screen and (max-width: 1000px) {
  .header__link {
    margin-right: 30px;
  }
} */