.nav {
  display: flex;
}

.nav__link {
  height: 48px;
  font-family: 'Roboto', Helvetica, Arial, sans-serif;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  text-decoration: none;
  color: inherit;
  cursor: pointer;
  align-items: center;
  margin: 0;
  padding: 0;
  margin-right: 42px;
  z-index: 5;
}

.nav__link-active {
  height: 48px;
  border-bottom: 3px solid;
  color: inherit;
  cursor: pointer;
  font-family: 'Roboto', Helvetica, Arial, sans-serif;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  text-decoration: none;
  color: inherit;
  cursor: pointer;
  align-items: center;
  margin: 0;
  padding: 0;
  margin-right: 42px;
  z-index: 5;
}

.nav_light {
  color: #1A1B22;
}

.border-bottom {
  display: none;
}

.nav__button {
  font-family: 'Roboto', Helvetica, Arial, sans-serif;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  padding: 0;
  background-color: transparent;
  border-radius: 100px;
  font-style: normal;
  width: 176px;
  height: 48px;
  cursor: pointer;
  z-index: 5; 
  position: relative;
  bottom: 13px;
}

.nav__button_style_light {
  color: #1a1b22;
  border: 1px solid #1a1b22;
}

.nav__button_style_dark {
  color: #ffffff;
  border: 1px solid #ffffff;
}

.nav__button-user {
  max-width: 122px;
  padding: 0 19px;
}

.nav__logout {
  padding-left: 20px;
}

@media screen and (max-width: 800px) {
  .nav__link {
    font-size: 16px;
    line-height: 24px;
  }
 
  .nav__link-active {
    height: 41px;
  }
 
  .nav__button {
    font-size: 16px;
    line-height: 24px;
    height: 40px;
    max-width: 152px;
    bottom: 11px;
  }

  .nav__button-user {
    max-width: 100px;
  }
}

@media screen and (max-width: 650px) {
  .nav {
    flex-direction: column;
    gap: 22px;
    padding-bottom: 0;
    overflow: hidden;
    transition: all 0.3s linear;
    max-height: 0;
    transform-origin: top;
    transform: scaleY(0);
  }

  .nav__link-active {
    border: none;
    margin: 0;  
    height: 56px;
    line-height: 56px;
  }

  .nav_open {
    transform: scaleY(1);
    padding-top: 16px;
    overflow: visible;
    position: relative;
    z-index: 5;
    margin: 0;
    max-width: 288px;
    max-height: fit-content;
  }

  .nav_open-user {
    transform: scaleY(1);
    padding-bottom: 24px;
    padding-top: 16px;
    overflow: visible;
    position: relative;
    z-index: 5;
    margin: 0;
    max-width: 288px;
    max-height: fit-content;
  }

  .nav__link {
    font-size: 18px;
    line-height: 56px;
    margin: 0;
    padding: 0;
    align-self: flex-start;
  }

 
  .nav_light:hover{
    border: none;
    padding: 0;
  }
  
  .nav__button {
    font-size: 18px;
    line-height: 24px;
    height: 56px;
    margin: 0 auto;
    min-width: 268px;
    align-items: center;
  }

  .nav__button_style_dark {
    color: #ffffff;
    border: 1px solid #ffffff;
    margin-bottom: 24px;
    margin-top: 22px;
  }

  .nav__button_style_light {
    margin-top: 22px;
  }

  .nav__button-user {
    max-width: 100px;
    padding: 16px 100px;
    margin-bottom: 0;
    
  }
  .nav__logout {
    padding-left: 15px;
  }
}
