.nav {
  display: flex;
  align-items: center;
}

.nav__link {
  font-family: 'Roboto';
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  text-decoration: none;
  cursor: pointer;
  align-items: center;
  margin: 0;
  padding: 0;
  margin-right: 42px;
  z-index: 5;
}

.nav_light {
  color: #1A1B22;
}

.nav_light:hover{
  color: #1a1b22;
  border-bottom: 3px solid #1a1b22;
  padding-bottom: 56px;
}

.nav_dark {
  color: rgba(255, 255, 255, 1);
}

.nav_dark:hover {
  border-bottom: 3px solid white;
  padding-bottom: 56px;
}

.nav__button {
  font-family: 'Roboto';
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  padding: 0;
  background-color: transparent;
  border-radius: 100px;
  font-style: normal;
  min-width: 176px;
  height: 48px;
  cursor: pointer;
  z-index: 5; 
}

.nav__button_light {
  color: #1a1b22;
  border: 1px solid #1a1b22;
}

.nav__button_dark {
  color: #ffffff;
  border: 1px solid #ffffff;
}

.nav__button-user {
  justify-content: space-between;
  min-width: 122px;
  padding: 0 19px;
}

.nav__logout {
  padding-left: 20px;
}

@media screen and (max-width: 800px) {
  .nav__link {
    font-size: 16px;
    line-height: 24px;
  }
 
  .nav_light:hover{
    color: #1a1b22;
    border-bottom: 3px solid #1a1b22;
    padding-bottom: 43px;
  }
  
  .nav_dark:hover {
    border-bottom: 3px solid white;
    padding-bottom: 43px;
  }

  .nav__button {
    font-size: 16px;
    line-height: 24px;
    height: 40px;
  }

  .nav__button_user {
    min-width: 100px;
    padding: 0 15px;
  }
}

@media screen and (max-width: 650px) {
  .nav {
    flex-direction: column;
    gap: 22px;
    padding-bottom: 0;
    overflow: hidden;
    transition: all 0.3s linear;
    max-height: 0;
    transform-origin: top;
    transform: scaleY(0);
  }

  .nav_open {
    transform: scaleY(1);
    padding-bottom: 24px;
    overflow: visible;
    max-height: fit-content;
    position: relative;
    z-index: 5;
    margin: 0;
    max-width: 288px;
  }

  .nav__link {
    font-size: 18px;
    line-height: 56px;
    margin: 0;
    padding: 0;
    padding-left: 6px;
    align-self: flex-start;
  }

  .nav_light:hover{
    border: none;
    padding: 0;
  }
  
  .nav_dark:hover {
    border: none;
    padding: 0;
  }

  .nav__button {
    font-size: 18px;
    line-height: 24px;
    height: 56px;
    margin: 0 auto;
    min-width: 288px;
    align-items: center;
  }

  .nav__button-user {
    max-width: fit-content;
    padding: 0 100px;
  }
  .nav__logout {
    padding-left: 15px;
  }
}

@media screen and (max-width: 400px) {
  .nav_open {
    margin: 0 auto;
  }
}