.search__title {
  font-family: 'Roboto Slab', Helvetica, Arial, sans-serif;
  font-weight: 400;
  font-size: 60px;
  line-height: 64px;
  color: rgba(255, 255, 255, 1);
  max-width: 608px;
  margin: 80px 0 32px;
}

.search__text {
  font-family: 'Roboto', Helvetica, Arial, sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  color: rgba(255, 255, 255, 1);
  margin: 0 0 88px;
}

.search__container {
  margin: 88px auto 0;
}

.search__wrapper {
  display: flex;
  flex-wrap: nowrap;
  /* margin: 88px auto 0; */
  padding: 0;
   /* align-items: center; */
  /* max-width: 168px; */
}

.search__field {
  font-family: 'Roboto', Helvetica, Arial, sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: 1px solid rgba(209, 210, 214, 1);
  background-color: rgba(255, 255, 255, 1);
  border: rgba(182, 188, 191, 1);
  border-radius: 100px;
  border-style: none;
  box-sizing: border-box;
  padding: 21px 401px 21px 24px; 
  margin: 0;
  outline-style: none;
}

.search__button {
  font-family: 'Roboto', Helvetica, Arial, sans-serif;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  box-sizing: border-box;
  background-color: rgba(47, 113, 229, 1);
  transition: background-color 0.4s ease;
  box-shadow: 0px 5px 15px 0px #0E1A3933;
  border: none;
  border-radius: 100px;
  color: rgba(255, 255, 255, 1);
  padding: 20px 56px; 
  margin: 0;
  margin-left: -168px;
}

.search__button-over {
  background: rgba(52, 126, 255, 1);
  box-shadow: 0px 5px 15px 0px rgba(14, 26, 57, 0.2);
  cursor: pointer;
}

.search__button-active {
  background: rgba(42, 101, 204, 1);
  box-shadow: 0px 5px 15px 0px rgba(14, 26, 57, 0.2);
}

@media screen and (max-width: 800px) {
  .search__title {
    font-size: 36px;
    line-height: 40px;
    max-width: 385px;
    margin: 38px 0 16px;
  }

  .search__text {
    font-size: 18px;
    line-height: 24px;
    max-width: 452px;
    margin: 0 0 48px;
  }

  .search__container {
   max-width: 448px;
   margin: 48px auto 0;
  }
  
  /* .search__wrapper {
    margin: 48px 0 0;
  } */

  .search__field {
    padding: 17px 249px 17px 24px; 
    max-width: 448px;
  }

  .search__button {
    padding: 16px 52px; 
    margin-left: -159px;
  }
}

@media screen and (max-width: 530px) {
  .search__title {
    max-width: 285px;
    margin-top: 30px;
    margin-left: 19px;
    margin-right: 16px;
  }

  .search__text {
    max-width: 288px;
    margin-right: 16px;
    margin-left: 16px;
    margin-bottom: 0;
  }

  .search__container {
   max-width: 288px;
   margin: 122px auto 0;
  }

  .search__wrapper {
    /* margin: 122px 16px 0; */
    flex-direction: column;
    align-items: center;
    /* max-width: 288px; */
  }

  .search__field {
    padding: 0;
    padding-left: 16px;
    margin-bottom: 16px;
    height: 56px; 
    width: 100%;
  }

  .search__button {
    padding: 0;
    height: 56px; 
    margin-left: 0;
    width: 100%;
    margin-bottom: 32px;
  }
}

@media screen and (max-width: 400px) {
  .search__container {
   max-width: 288px;
   margin: 122px auto 0;
  }

  .search__wrapper {
    /* margin: 122px auto 0; */
    flex-direction: column;
    align-items: center;
    /* max-width: 288px; */
  }
}

/*
.search__field-error {

}
*/