@import url('../../utils/variables.css');

.popup__message {
  font: normal normal 900 24px/28px var(--font-family);
  color: rgba(0, 0, 0, 1);
  margin: 43px 0 0 36px;
  padding: 0;
}

.popup__link {
  all: unset;
  font: normal normal 400 18px/22px var(--font-family-inter);
  color: var(--color-blue);
  cursor: pointer;
  padding: 0;
  margin: 14px 0 51px 36px;
}

.button_type_close-tooltip {
  background: url(../../images/closeIcon.svg) no-repeat center;
  width: 40px;
  height: 40px;
  position: absolute;
  top: -18%;
  right: -7%;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: none;
}

.button_type_close-tooltip:hover {
  cursor: pointer;
  opacity: 0.5;
}

@media screen and (max-width: 530px) {
  .popup__message {
    max-width: 288px;
    margin-left: 16px;
  }

  .button_type_close-tooltip {
    width: 24px;
    height: 24px;
    top: 0;
    right: 0;
    margin-top: -40px;
    margin-right: 16px;
  }

  .popup__link {
    margin-left: 16px;
  }
}
