.popup__message {
  font-family: 'Roboto';
  font-weight: 900;
  font-size: 24px;
  line-height: 28px;
  color: rgba(0, 0, 0, 1); 
}

.popup__link {
  font-family: 'Inter';
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: rgba(47, 113, 229, 1);
  cursor: pointer;
}

.button_type_close-tooltip {
  background: url(../../images/closeIcon.svg) no-repeat center;
  width: 40px;
  height: 40px;
  position: absolute;
  top: -7%;
  right: -7%;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: none;
}

.button_type_close-tooltip:hover {
  cursor: pointer;
  opacity: 0.5;
}