@import url('../../utils/variables.css');

.no-results {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  min-height: 294px;
  background-color: #f5f6f7;
  background-size: cover;
  margin: 0;
  box-sizing: border-box;
}

.no-results__image {
  width: 96px;
  height: 96px;
  align-self: center;
  margin: 0;
}

.no-results__title {
  font: normal normal 400 26px/30px var(--font-family-second);
  max-width: 356px;
  align-self: center;
  color: var(--color-black);
  margin: 24px auto 16px;
}

.no-results__text {
  font: normal normal 400 18px/24px var(--font-family);
  font-family: 'Roboto', Helvetica, Arial, sans-serif;
  align-self: center;
  text-align: center;
  max-width: 245px;
  height: 48px;
  color: var(--color-gray);
  margin: 0;
}
