.no-results__section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* max-width: 1440px; */
  width: 100%;
  min-height: 294px;
  /* margin: 86px auto 0; */
  /* color: #F5F6F7; */
  background-color: #F5F6F7;
  background-size: cover;
  margin: 0;
  box-sizing: border-box;
}

.no-results__image {
    width: 96px;
    height: 96px;
    align-self: center;
    margin: 0;
}

.no-results__title {
  font-family: 'Roboto Slab';
  font-weight: 400;
  font-size: 26px;
  line-height: 30px;
  max-width: 356px;
  align-self: center;
  color: rgba(26, 27, 34, 1);
  margin: 24px auto 16px;
}

.no-results__text {
  font-family: 'Roboto';
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  align-self: center;
  text-align: center;
  max-width: 245px;
  height: 48px;
  color: rgba(182, 188, 191, 1);
  margin: 0;
}