@import url('../../utils/variables.css');

.footer__section {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin: 0;
  padding: 0 104px;
  box-sizing: border-box;
  max-height: 80px;
}

.footer__copyright {
  font: normal normal 400 16px/22px var(--font-family);
  color: var(--color-gray);
  margin: 0;
  padding-top: 32px;
  padding-bottom: 26px;
}

.footer__items {
  display: flex;
  justify-content: space-between;
  list-style: none;
  padding-top: 30px;
  padding-bottom: 28px;
  gap: 25px;
}

.footer__links {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
}

.footer__link {
  font: normal normal 400 18px/24px var(--font-family);
  color: var(--color-black);
  margin: 0;
  padding: 0;
  text-decoration: none;
}

.footer__link-last {
  margin-right: 40px;
}

.footer__social-items {
  display: flex;
  justify-content: space-between;
  height: 20px;
  min-width: 68px;
}

.footer__social-icon {
  margin: 0;
  padding: 0;
}

@media screen and (max-width: 900px) {
  .footer__section {
    padding: 0 40px;
  }
}

@media screen and (max-width: 800px) {
  .footer__section {
    max-height: 64px;
  }

  .footer__items,
  .footer__copyright {
    padding-top: 21px;
    padding-bottom: 21px;
  }

  .footer__links {
    display: flex;
    justify-content: space-between;
  }

  .footer__link-last {
    margin-right: 24px;
  }
}

@media screen and (max-width: 700px) {
  .footer {
    padding-top: 20px;
  }

  .footer__section {
    flex-direction: column-reverse;
    max-height: 100px;
    max-height: 176px;
  }

  .footer__items {
    padding: 0;
  }

  .footer__links {
    display: flex;
    flex-direction: column;
    height: 74px;
  }

  .footer__link-last {
    margin-right: 0;
  }
}

@media screen and (max-width: 450px) {
  .footer {
    padding-top: 20px;
  }

  .footer__section {
    padding: 0 16px;
  }

  .footer__links {
    margin: 0;
  }

  .footer__copyright {
    padding-top: 0;
    padding-bottom: 21px;
  }
}
