.card__container {
  cursor: pointer; 
  height: 576px;
  max-width: 400px;
  background-color: rgba(255, 255, 255, 1);
  border-radius: 16px;
  position: relative;
}

.card__keyword_type_hidden {
  display: none;
}

.card__keyword, .card__keyword_type_visible {
  display: block;
  font-family: 'Roboto', Helvetica, Arial, sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;
  color: rgba(0, 0, 0, 1);
  background-color: rgba(255, 255, 255, 1);
  border: none;
  margin: 0;
  margin-left: 24px;
  margin-top: 24px;
  z-index: 5;
  position: absolute;
  border-radius: 10px;
  padding: 8px 22px;
  box-sizing: border-box;
}

.card__button-save {
  margin: 0;
  padding: 0;
  border: none;
  background: url(../../images/saveIcon.svg) no-repeat center; 
  background-color: rgba(255, 255, 255, 1); 
  border-radius: 8px;
  padding: 11px 13px 10px;
  margin-top: 24px;
  margin-left: 336px;
  z-index: 5;
  cursor: pointer;
  position: absolute;
  box-sizing: border-box;
  width: 40px;
  height: 40px;
}

.card__button-save:hover {
    background: url(../../images/saveIconHover.svg) no-repeat center;
    background-color: rgba(255, 255, 255, 1);
    z-index: 5;
}

.tooltip {
  font-family: 'Roboto', Helvetica, Arial, sans-serif;
  font-size: 12px;
  font-weight: 500;
  line-height: 14.06px;
  position: absolute;
  height: 40px;
  box-sizing: border-box;
  color:#000000;
  text-align: center;
  background-color: rgba(255, 255, 255, 1);
  border-radius: 10px;
  padding: 14px 26px; 
  margin-top: 24px;
  margin-left: calc(37%);
  z-index: 5;
  visibility: hidden;
  opacity: 0;
}

.tooltip-visible {
  visibility: visible;
  opacity: 1;
}

.card__button-save_active {
  position: absolute;
  background: url(../../images/saveIconMarked.svg) no-repeat center;
  background-color: rgba(255, 255, 255, 1);
  width: 40px;
  height: 40px;
  margin: 0;
  padding: 0;
  border: none;
  border-radius: 8px;
  padding: 11px 13px 10px;
  margin-top: 24px;
  margin-left: 336px;
  z-index: 1;
  cursor: pointer;
  box-sizing: border-box;
}

.card__image {
  width: 100%;
  height: 272px;
  position: relative;
  object-fit: cover;
  border-top-right-radius: 16px;
  border-top-left-radius: 16px;
}

.card__content {
  max-width: 352px;
  height: 260px;
  margin: 20px auto 24px;
  padding: 0;
}

.card__date {
  font-family: 'Roboto Slab', Helvetica, Arial, sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  color: rgba(182, 188, 191, 1);
  margin: 0;
  padding: 0;
}

.card__title {
  font-family: 'Roboto Slab', Helvetica, Arial, sans-serif;
  font-weight: 400;
  font-size: 26px;
  line-height: 30px;
  color: rgba(26, 27, 34, 1);
  margin: 12px 0 16px;
  min-height: 60px;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.card__text {
  font-family: 'Roboto', Helvetica, Arial, sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: rgba(26, 27, 34, 1);
  margin: 0;
  padding: 0;
  min-height: 110px;
  display: -webkit-box;
  -webkit-line-clamp: 5;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.card__source {
  font-family: 'Roboto Slab', Helvetica, Arial, sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: rgba(182, 188, 191, 1);
  text-transform: uppercase;
  margin: 18px 0 0;
  letter-spacing: 0.4px;
  padding: 0;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

@media screen and (max-width: 800px) {
  .card__container {
    height: 420px;
    max-width: 224px;  
    margin: 0 auto;
  }

  .card__keyword_type_visible {
    margin-top: 8px;
    margin-left: calc(3.5%);
    padding: 8px 20px;
  }

  .card__button-save, .card__button-save:hover, .card__button-save_active  {
    margin-top: 8px;
    margin-left: 176px;
  }

  .tooltip {
    margin-top: 8px;
    margin-left: calc(3.5%);
  }

  .card__image {
    height: 150px;
  }

  .card__content {
    max-width: 192px;
    height: 270px;
    margin: 16px 16px 16px;
  }

  .card__title {
    font-size: 22px;
    line-height: 24px;
    margin-bottom: 10px;
    min-height: 72px;
  }

  .card__text {
    min-height: 88px;
    text-overflow: ellipsis;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
  }

  .card__source {
    margin: 12px 0 0;
  }
}

@media screen and (max-width: 500px) {
  .card__container {
      margin: 0 16px;
      height: 440px;
      max-width: 288px;
  }

  .card__keyword_type_visible {
    margin-left: 16px;
    margin-top: 16px;
  }

  .card__image {
    height: 196px;
  }

  .card__button-save, .card__button-save:hover, .card__button-save_active  {
    margin-top: 16px; 
    margin-left: calc(80.5%);
  }

  .tooltip {
    margin-top: 16px;
  }

  .card__content {
    max-width: 256px;
    height: 212px;
  }

  .card__date {
    margin-bottom: 10px;
  }

  .card__title {
    min-height: 24px;
    text-overflow: ellipsis;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    margin: 8px 0 14px;
  }

  .card__text {
   min-height: 88px;
  }

  .card__source {
    margin: 8px 0 16px;
  }
}
