.card__keyword_type_hidden {
  display: none;
}

.card__keyword, .card__keyword_type_visible {
  display: block;
  font-family: 'Roboto', Helvetica, Arial, sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;
  color: rgba(0, 0, 0, 1);
  background-color: rgba(255, 255, 255, 1);
  border: none;
  margin: 0;
  margin-left: 24px;
  margin-top: 24px;
  z-index: 5;
  position: absolute;
  border-radius: 10px;
  padding: 8px 22px;
  box-sizing: border-box;
}

.card__button-save {
  margin: 0;
  padding: 0;
  border: none;
  background: url(../../images/saveIcon.svg) no-repeat center; 
  background-color: rgba(255, 255, 255, 1); 
  border-radius: 8px;
  padding: 11px 13px 10px;
  margin-top: 24px;
  margin-left: 336px;
  z-index: 5;
  cursor: pointer;
  position: absolute;
  box-sizing: border-box;
  width: 40px;
  height: 40px;
}

.card__button-save:hover {
    background: url(../../images/saveIconHover.svg) no-repeat center;
    background-color: rgba(255, 255, 255, 1);
    z-index: 5;
}

.tooltip {
  font-family: 'Roboto', Helvetica, Arial, sans-serif;
  font-size: 12px;
  font-weight: 500;
  line-height: 14.06px;
  position: absolute;
  height: 40px;
  box-sizing: border-box;
  color:#000000;
  text-align: center;
  background-color: rgba(255, 255, 255, 1);
  border-radius: 10px;
  padding: 14px 26px; 
  margin-top: 24px;
  margin-left: calc(37%);
  z-index: 5;
  visibility: hidden;
  opacity: 0;
}

.tooltip-visible {
  visibility: visible;
  opacity: 1;
}

.card__button-save_active {
  position: absolute;
  background: url(../../images/saveIconMarked.svg) no-repeat center;
  background-color: rgba(255, 255, 255, 1);
  width: 40px;
  height: 40px;
  margin: 0;
  padding: 0;
  border: none;
  border-radius: 8px;
  padding: 11px 13px 10px;
  margin-top: 24px;
  margin-left: 336px;
  z-index: 1;
  cursor: pointer;
  box-sizing: border-box;
}

@media screen and (max-width: 800px) {
  .card__keyword_type_visible {
    margin-top: 8px;
    margin-left: calc(3.5%);
    padding: 8px 20px;
  }

  .card__button-save, .card__button-save:hover, .card__button-save_active  {
    margin-top: 8px;
    margin-left: 176px;
  }

  .tooltip {
    margin-top: 8px;
    margin-left: calc(3.5%);
  }

  .card__title {
    font-size: 22px;
    line-height: 24px;
    margin-bottom: 10px;
    min-height: 72px;
    display: -webkit-box;
    text-overflow: ellipsis;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;

  } 
}

@media screen and (max-width: 500px) {
  
  .card__keyword_type_visible {
    margin-left: 16px;
    margin-top: 16px;
  }

  .card__button-save, .card__button-save:hover, .card__button-save_active  {
    margin-top: 16px; 
    margin-left: calc(80.5%);
  }

  .tooltip {
    margin-top: 16px;
  }

  .card__date {
    margin-bottom: 10px;
  } 
}
